body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #e5e5e5; /* Optional background color for the body */
}

tr, th{
    padding-right: 7px;
}

table {
    background-color: #d9d9d9;
    border: 3px solid black;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden; /* Ensure border-radius applies to the entire table */
}

#board {
    border: 5px solid darkgray; /* Adjusted for a cleaner look */
    background-color: lightgray;
    margin: 20px auto; /* Centering with some space */
    display: grid;
    grid-gap: 2px; /* Reduced space between cells */
    padding: 10px; /* Adds padding inside the board */
}

#board div {
    width: 40px; /* Adjusted for better scaling */
    height: 40px; /* Adjusted for better scaling */
    border: 2px solid #949494; /* Lighter border for a cleaner look */
    background-color: #d9d9d9; /* Slightly darker tile background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Reduced font size for better fitting */
    transition: background-color 0.2s ease; /* Smooth transition for tile clicks */
}

.tile-clicked {
    background-color: darkgrey; /* Darker shade for clicked tiles */
}

#settings-form input, #settings-form label {
    padding: 5px;
    margin: 4px;

}

.x1 { color: blue; }
.x2 { color: green; }
.x3 { color: red; }
.x4 { color: navy; }
.x5 { color: brown; }
.x6 { color: teal; }
.x7 { color: black; }
.x8 { color: gray; }

#flag-button, #restart-button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: lightgray;
    border: none;
    margin: 10px;
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px;
}

#flag-button:hover, #restart-button:hover, #changes-button:hover {
    background-color: darkgray;
}

#changes-button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Add some space between columns */
    padding: 10px;
    justify-items: start;
}

.grid-item {
    padding: 20px;
}